body {
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
  }

  h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    color: #666;
  }

  .btn {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.6s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .btn:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }

  .user-move,
  .computer-move,
  .result,
  .score {
    background-color: transparent; /* Make background transparent by default */
    color: #fff; /* Set text color */
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  .user-move:not(:empty),
  .computer-move:not(:empty),
  .result:not(:empty),
  .score:not(:empty) {
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Dark background with some transparency */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    width: auto; /* Adjust width as needed */
    box-sizing: border-box;
    text-align: center;
    font-weight: bold; /* Make the font bold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  .batImg,
  .ballImg,
  .stumpImg {
    width: 50px; /* Or the size that fits well in your button */
    height: auto; /* Maintain aspect ratio */
    display: block; /* To remove any unwanted space below the image */
    margin: 0 auto; /* Center the image within the button */
    transition: transform 0.3s ease; /* Smooth transition for any hover effects */
  }

  /* Optional: Add a hover effect to scale the images slightly */
  .btn:hover .batImg,
  .btn:hover .ballImg,
  .btn:hover .stumpImg {
    transform: scale(1.1);
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
    gap: 10px; /* Optional: adds space between buttons */
  }